<div class="col-6">
  <%= form_with(model: user) do |f| %>
    <table class="table fs-3 brico shadow-tetiary">
      <tbody>
        <tr>
          <td>
            <%= f.text_field :name, placeholder: "Dr. Adeleke Rahemm Ajiboye" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.text_field :phone, placeholder: "08034148821" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.text_field :location, placeholder: "Nation-wide" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.password_field :password, placeholder: "Password" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.password_field :password_confirmation, placeholder: "Password" %>
          </td>
        </tr>
      </tbody>
    </table>
    <% if user.new_record? %>
      <%= f.submit "Sign up", class: "fs-3 brico shadow-tetiary btn btn-primary btn-lg" %>
    <% else %>
      <%= f.submit "Update my account", class: "fs-3 brico shadow-tetiary btn btn-primary btn-lg" %>
    <% end %>
  <% end %>
</div>
<%# Aside|Errors %>
<%= render "shared/errors", object: user %>
