<div class="row brico fs-4">
  <div class="col-8">
    <main>
      <h1 class="fw-bold mb-3"> Users </h1>
      <table class="shadow-primary table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% num = @users.size + 1 %>
          <% @users.each do |u| %>
            <% num = num - 1 %>
            <tr>
              <th scope="row"> <%= num %> </th>
              <td class="d-flex justify-content-center">
                <%= link_to u do %>
                  <p style="background-color: <%= u.color %>"  class="gochi avatar"> <%= u.name[0] %> </p>
                <% end %>
              </td>
              <td> <%= u.name %> </td>
              <td> <%= u.phone %> </td>
              <td> (<%= u.products.size %>) </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </main>
  </div>
</div>