<div class="row brico fs-4">
  <div class="offset-lg-3 col-lg-6">
    <%# Search %>
    <div class="mb-5 row">
      <div class="col-12">
        <%= form_tag products_path, :method => 'get' do %>
          <table class="table fs-3 brico shadow-secondary">
            <tbody>
              <tr>
                <td> <%= text_field_tag :search, params[:search], placeholder: "Search" %> </td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
    <%# Products %>
    <% @products.each do |p| %>
      <article>
        <h1 class="fw-bold mb-4"> <%= p.title %> </h1>
        <%= link_to p.user do %>
          <div class="d-flex align-items-baseline avatar-time">
            <p style="background-color: <%= p.user.color %>"  class="gochi avatar"> <%= p.user.name[0] %> </p>
            <p class="ps-3"> <%= time_ago_in_words p.updated_at %> ago </p>
          </div>
        <% end %>
        <main class="shadow-border">
          <%= link_to p do %>
            <div class="text-center">
              <% if p.image.attached? %>
                <%= image_tag p.image %>
              <% else %>
                <%= image_tag "gigi.svg" %>
              <% end %>
            </div>
          <% end %>
        </main>
      </article>
    <% end %>
  </div>
</div>