<div class="row brico fs-4">
  <div class="col-7">
    <h1 class="fw-bold mb-4"> <%= @product.title %> </h1>
    <div class="shadow-border text-center">
      <% if @product.image.attached? %>
        <%= image_tag @product.image %>
      <% else %>
        <%= image_tag "gigi.svg" %>
      <% end %>
    </div>
  </div>
  <%#  %>
  <%# Aside %>
  <div class="col-5">
    <aside class="mt-5 shadow-tetiary">
      <p class="p-3 fs-2"> <%= @product.description %> </p>
    </aside>
    <%#  %>
    <aside class="mt-4 shadow-secondary">
      <table class="table">
        <thead class="text-center">
          <tr>
            <th scope="col"> <%= number_to_currency @product.price, precision: 0, unit: "₦" %> </th>
          </tr>
          <tr>
            <th scope="col"> <%= @product.location %> </th>
          </tr>
          <tr>
            <th scope="col" class="text-muted">
              <%= link_to @product.user.name, @product.user %>
            </th>
          </tr>
          <tr>
            <th scope="col" class="text-muted">
              <%= @product.user.phone %>
            </th>
          </tr>
        </thead>
        <% if correct_user?(@product.user) %>
          <tbody class="text-center">
            <tr>
              <td colspan="2">
                <%= link_to "Update product info", edit_product_path(@product), class: "shadow-tetiary btn btn-primary btn-lg" %>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <%= link_to "Delete this product", delete_product_path(@product), class: "shadow-tetiary btn btn-danger" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </aside>
    <% if signed_in? %>
      <hr / class="my-5">
      <aside>
        <div class="d-grid gap-2 mt-5">
          <%= link_to(new_product_path, class: "btn btn-success btn-lg shadow-tetiary fs-3") do %>
            Sell a product
          <% end %>
        </div>
      </aside>
    <% end %>
  </div>
</div>